@font-face {
  font-family: 'Circe-Light';
  src: url('/font/Circe-Rounded/CirceRounded-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Circe-Regular';
  src: url('/font/Circe-Rounded/CirceRounded-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Circe-Bold';
  src: url('/font/Circe-Rounded/CirceRounded-Bold.otf') format('opentype');
}


.font-circe_light {
  font-family: 'Circe-Light', sans-serif;
}
.font-circe_regular {
  font-family: 'Circe-Regular', sans-serif;
}
.font-circe_bold {
  font-family: 'Circe-Bold', sans-serif;
}

.marquee-left {
  animation: marquee-left 20s linear infinite;
}

@keyframes marquee-left {
    to {
        transform: translate(calc(-80% - 0.5rem));
    }
  }

.marquee-right {
  animation: marquee-right 20s linear infinite;
}

@keyframes marquee-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(30%);
    }
  }
